{% extends 'layout.html.twig' %}

{% block content %}


<h1>Sosa</h1>
<p><a href="https://github.com/ronanguilloux/Silex-ORM-Security-Authentication">Silex-ORM-Security-Authentication</a>, using Silex + Doctrine2 ORM Provider + native SecurityServiceProvider to perform an authentication system</p>

{% endblock %}
